apiVersion: v1
kind: ConfigMap
metadata:
  name: container-provisioner-config
  namespace: backend
data:
  APP_ENV: "local"
  HTTP_ADDR: ":8081"
  SHUTDOWN_TIMEOUT: "10s"
  API_KEY_ENABLED: "true"
  LOG_DIR: "logs"
  LOG_FILE_PREFIX: "app"
  LOG_MAX_BODY_BYTES: "1048576"
  LOG_WEBHOOK_QUEUE_SIZE: "1000"
  LOG_WEBHOOK_TIMEOUT: "5s"
  LOG_WEBHOOK_BATCH_SIZE: "20"
  LOG_WEBHOOK_BATCH_WAIT: "2s"
  LOG_WEBHOOK_MAX_CHARS: "1800"
  STACK_NAMESPACE: "stacks"
  STACK_TTL: "2h"
  STACK_SCHEDULER_INTERVAL: "10s"
  STACK_NODEPORT_MIN: "31001"
  STACK_NODEPORT_MAX: "32767"
  STACK_PORT_LOCK_TTL: "30s"
  STACK_NODE_ROLE: "stack"
  STACK_REQUIRE_INGRESS_NETWORK_POLICY: "true"
  DDB_USE_MOCK: "false"
  DDB_STACK_TABLE: "smctf-stacks"
  DDB_CONSISTENT_READ: "true"
  AWS_REGION: "ap-northeast-2"
  AWS_ENDPOINT: ""
  K8S_USE_MOCK: "false"
  K8S_KUBECONFIG: ""
  K8S_CONTEXT: ""
  K8S_CLIENT_QPS: "20"
  K8S_CLIENT_BURST: "40"
  STACK_SCHEDULING_TIMEOUT: "20s"
