apiVersion: v1
kind: ConfigMap
metadata:
  name: smctf-backend-config
  namespace: backend
data:
  APP_ENV: "local"
  HTTP_ADDR: ":8080"
  SHUTDOWN_TIMEOUT: "10s"
  AUTO_MIGRATE: "true"
  BCRYPT_COST: "12"
  DB_HOST: "REPLACE_WITH_RDS_ENDPOINT"
  DB_PORT: "5432"
  DB_USER: "app_user"
  DB_NAME: "app_db"
  DB_SSLMODE: "disable"
  DB_MAX_OPEN_CONNS: "25"
  DB_MAX_IDLE_CONNS: "10"
  DB_CONN_MAX_LIFETIME: "30m"
  REDIS_ADDR: "REPLACE_WITH_REDIS_ENDPOINT"
  REDIS_DB: "0"
  REDIS_POOL_SIZE: "20"
  JWT_ISSUER: "smctf"
  JWT_ACCESS_TTL: "24h"
  JWT_REFRESH_TTL: "168h"
  SUBMIT_WINDOW: "1m"
  SUBMIT_MAX: "10"
  TIMELINE_CACHE_TTL: "60s"
  LEADERBOARD_CACHE_TTL: "60s"
  APP_CONFIG_CACHE_TTL: "2m"
  CORS_ALLOWED_ORIGINS: "http://localhost:3000,https://smctf.example.com"
  STACKS_ENABLED: "true"
  STACKS_MAX_PER_USER: "3"
  STACKS_PROVISIONER_BASE_URL: "http://container-provisioner.backend.svc.cluster.local:8081"
  STACKS_PROVISIONER_TIMEOUT: "5s"
  STACKS_CREATE_WINDOW: "1m"
  STACKS_CREATE_MAX: "1"
  LOG_DIR: "logs"
  LOG_FILE_PREFIX: "app"
  LOG_MAX_BODY_BYTES: "1048576"
  LOG_WEBHOOK_QUEUE_SIZE: "1000"
  LOG_WEBHOOK_TIMEOUT: "5s"
  LOG_WEBHOOK_BATCH_SIZE: "20"
  LOG_WEBHOOK_BATCH_WAIT: "2s"
  LOG_WEBHOOK_MAX_CHARS: "1800"
  S3_ENABLED: "false"
  S3_REGION: "ap-northeast-2"
  S3_BUCKET: ""
  S3_ENDPOINT: ""
  S3_FORCE_PATH_STYLE: "false"
  S3_PRESIGN_TTL: "15m"
