{{- if and .Values.backend.enabled .Values.backend.serviceAccount }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ .Values.backend.serviceAccount.name }}
  namespace: {{ .Values.backend.serviceAccount.namespace | default .Values.namespaces.backend }}
  {{- if .Values.backend.serviceAccount.annotations }}
  annotations:
{{ toYaml .Values.backend.serviceAccount.annotations | indent 4 }}
  {{- end }}
  labels:
{{ include "smctf.labels" . | indent 4 }}
---
{{- end }}
{{- if .Values.elbController.enabled }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ .Values.elbController.serviceAccount.name }}
  namespace: {{ .Values.elbController.serviceAccount.namespace }}
  {{- if .Values.elbController.serviceAccount.labels }}
  labels:
{{ toYaml .Values.elbController.serviceAccount.labels | indent 4 }}
  {{- end }}
  {{- if .Values.elbController.serviceAccount.annotations }}
  annotations:
{{ toYaml .Values.elbController.serviceAccount.annotations | indent 4 }}
  {{- end }}
{{- end }}
