{{- if .Values.backendNetworkPolicy.enabled }}
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: {{ .Values.backendNetworkPolicy.name }}
  namespace: {{ .Values.backendNetworkPolicy.namespace | default .Values.namespaces.backend }}
spec:
  podSelector: {}
  policyTypes:
    - Ingress
  ingress:
    - from:
        - namespaceSelector:
            matchExpressions:
              - key: kubernetes.io/metadata.name
                operator: NotIn
                values:
{{ toYaml .Values.backendNetworkPolicy.denyFromNamespaces | indent 18 }}
{{- end }}
